.content {
  padding: 0px 0px;
  counter-reset: section;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
}

#contact {
  padding-bottom: 60px;
}

.highlighted-text {
  background-color: #f0ff00;
}
.dark .highlighted-text {
  background-color: rgba(0, 225, 30, 0.87);
}

.section {
  overflow: auto;
  scroll-margin-top: 76px;
  margin: 0px auto;
  padding: 60px 0px 0px;
  font-size: 18px;
  max-width: 900px;
  line-height: 1.3;
  transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
}

.section-page {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 68px);
  min-height: calc(100dvh - 68px);
  margin: 0 auto;
  padding: 0px 0px;
  line-height: 1.3;
  scroll-margin: 76px;
  position: relative;
}

/* ---------- Home ---------- */

#home {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.home-image-container {
  position: absolute;
  inset: 0;
  background-image: url('../assets/image/profile.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-image-container::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, black, transparent);
  /* opacity: 0.75; */
  transition: box-shadow 250ms ease;
}

.home-text-container-mobile {
  position: absolute;
  padding: 0px 32px 48px;
  height: calc(100% - 48px);
  overflow-wrap: break-word;
  z-index: 1;
  inset: 0;
  color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home-text-container-mobile .highlighted-text {
  background-color: #3fb950;
}
.home-text-container-tab {
  padding: 32px;
  display: none;
}
.home-text-container {
  display: none;
  position: relative;
  width: calc(100% - 320px);
  padding: 0px 64px;
  overflow-wrap: break-word;
}

#home .title {
  margin: 0px 0px 16px 0px;
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}
#home .subtitle {
  font-family: 'Poppins',sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.5;
}

#home .big-heading {
  font-family: 'Poppins',sans-serif;
  font-weight: 300;
  font-size: 26px;
  line-height: 1.25em;
  margin-top: 64px;
}

/* ---------- About, Projects ---------- */

#about .title-backdrop, #projects .title-backdrop {
  width: 225px;
  height: 52px;
  background-color: #f0ff00;
}
.dark #about .title-backdrop, .dark #projects .title-backdrop {
  background-color: rgba(0, 225, 30, 0.87);
}
#about .title, #projects .title {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 28px;
  position: relative;
  margin: -24px 0px 20px 0px;
  padding: 0px 20px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}
#about .details {
  line-height: 2.2em;
  font-size: 14px;
  text-align: left;
  font-family: georgia, palatino, serif;
  position: relative;
  margin: 0px 0px 33px 0;
  padding: 0px 20px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  overflow-wrap: break-word;
}

/* ---------- Projects ---------- */

#projects .title-backdrop {
  width: 285px;
}

/* ---------- Experience, Contact ---------- */

#experience .title-backdrop, #contact .title-backdrop {
  margin: -27px 0px 32px 0px;
  width: 285px;
  height: 52px;
  background-color: #f0ff00;
}
.dark #experience .title-backdrop, .dark #contact .title-backdrop {
  background-color: rgba(0, 225, 30, 0.87);
}
#experience .title, #contact .title {
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
  font-size: 32px;
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 20px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

/* ---------- Contact ---------- */

#contact .title-backdrop {
  width: 225px;
}
#contact .details {
  line-height: 2.2em;
  font-size: 14px;
  text-align: left;
  font-family: georgia, palatino, serif;
  position: relative;
  margin: 0px 0px 33px 0;
  padding: 0px 20px;
  grid-area: 3 / 1 / 4 / 2;
  justify-self: start;
  align-self: start;
  overflow-wrap: break-word;
}

.contact-btn {
  display: inline-block;
  margin-top: 50px;
  padding: 16px 32px 12px;
  border-radius: 6px;
  border: 1px solid #3fb950;
  outline: none;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.contact-btn:hover {
  box-shadow: 4px 4px 0 0 #3fb950;
  transform: translate(-5px, -5px);
}

/* ---------- Media Queries ---------- */

@media screen and (min-width: 370px) {
  #home .title {
    font-size: 22px;
  }
  #home .subtitle {
    font-size: 20px;
  }
  #home .big-heading {
    font-size: 32px;
  }
}

/* Phone portrait: true fullscreen */
@media (max-width: 600px) and (orientation: portrait) {
  .section-page {
    min-height: calc(100vh - 68px);
    min-height: calc(100dvh - 68px);
  }
}

/* Phone landscape: add vertical space */
@media (max-height: 500px) and (orientation: landscape) {
  .home-text-container-mobile {
    display: none;
  }
  .home-text-container-tab {
    display: block;
  }
  .home-image-container {
    position: relative;
    width: 100%;
    height: calc(100vw * 8/11);
  }
  .home-image-container::after {
    content: unset;
  }
  #home .big-heading {
    font-size: 44px;
  }
}

/* iPad/tablet (<= 820px) */
@media (min-width: 601px) {
  .home-text-container-mobile {
    display: none;
  }
  .home-text-container-tab {
    display: block;
  }
  .home-image-container {
    position: relative;
    width: 100%;
    height: calc(100vw * 8/11);
  }
  .home-image-container::after {
    content: unset;
  }
  #home .big-heading {
    font-size: 44px;
  }
}

/* Large screens */
@media only screen 
  and (min-width: 820px) {
  /* ---------- Home ---------- */
  #home {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .home-text-container-tab {
    display: none;
  }
  .home-image-container {
    width: 320px;
    height: 576px;
    position: relative;
    margin-top: 105px;
  }
  .home-image-container::after {
    display: none;
  }
  .home-text-container-mobile {
    display: none;
  }
  .home-text-container {
    display: block;
  }
  #home .title, #home .subtitle {
    font-size: 18px;
  }
  #home .big-heading {
    font-size: 44px;
    margin: 160px 0px 10px 0px;
    left: 56px;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: start;
    align-self: start;
  }

  /* ----- About, Experience, Projects, Contact ----- */
  #about .title, #experience .title, #projects .title, #contact .title {
    font-size: 50px;
    padding: 0px 64px;
  }
  #about .details, #contact .details {
    padding: 0px 64px;
  }
  #about .title-backdrop, #experience .title-backdrop, #projects .title-backdrop, #contact .title-backdrop {
    width: 600px;
    height: 64px;
  }
  #about .title, #projects .title {
  margin: -44px 0px 54px 0px;
  }
  #experience .title-backdrop, #contact .title-backdrop {
    margin: -36px 0px 54px 0px;
  }
}

@media only screen 
  and (min-width: 980px) {
  .home-image-container {
    width: 360px;
    height: 657px;
    margin-top: 124px;
  }
  #home .title, #home .subtitle {
    font-size: 24px;
  }
  #home .big-heading {
    font-size: 52px;
  }
}

@media only screen 
  and (min-width: 1132px) {
  .home-text-container {
    width: calc(100% - 515px);
  }
  .home-image-container {
    width: 515px;
    height: 680px;
  }
  #home .title, #home .subtitle {
    font-size: 28px;
  }
  #home .big-heading {
    font-size: 58px;
  }
}

@media only screen 
  and (min-width: 1236px) {
  #home .big-heading {
    margin: 160px 0px 10px calc((100% - 646px) * 0.5);
  }
}